* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('numbers.jpg');
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.724);
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    margin-left: 4.5vw;
}

.heading {
    font-size: 4vw;
    margin-right: 9vw;
    cursor: context-menu;
}

.allWarnings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    margin-top: 3vw;
    margin-right: 5vw;
    font-size: 2.3vw;
    flex: 0.7;
    word-wrap: break-word;
    cursor: context-menu;
}


.warning1, .warning2, .warning3 {
    color: red;
    font-weight: bold;
    flex: 1;
    opacity: 0;
}

.warn1anim, .warn2anim, .warn3anim {
    animation: animate 3s forwards;
}

@keyframes animate {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

.active {
    display: flex;
    justify-content: center;

}


.numbers > p {
    padding-top: 0.5vh;
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.724);
    width: 2.7vw;
    height: 2.7vw;
    font-size: 2vw;
    border-radius: 20%;
    margin: 10px 0px 5px 50px;
    text-align: center;
}

.nums:hover {
    background-color: lightcoral;
    cursor: pointer;
}


.board {
    padding-top: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 35vw;
    height: 35vw;
}

.square {
    padding-top: 1vh;
    width: 3.4vw;
    height: 3.4vw;
    font-size: 2vw;
    margin: 0;
    border: 1.3px solid rgba(255, 255, 255, 0.724);
    text-align: center;
    color: black;
    
}

.square:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.solveColour {
    background-color: lightgreen;
}

.borderBottom {
    border-bottom: 4px solid rgba(255, 255, 255, 0.724);
}

.borderRight {
    border-right: 4px solid rgba(255, 255, 255, 0.724);
}

.borderLeft {
    border-left: 4px solid rgba(255, 255, 255, 0.724);
}

.borderUp {
    border-top: 4px solid rgba(255, 255, 255, 0.724);
}

.selected {
    background-color: lightsalmon;
}

.mainButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    flex: 0.9;
}

.solver, .speedup, .newBoard {
    font-size: 1.5vw;
    padding: 5px;
    margin-bottom: 5vw;
    margin-right: 5vw;
    transition: 1s;
    position: relative;
    overflow: hidden;
}

.solver:before, .newBoard:before, .speedup:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid lightcyan;
    border-left: 2px solid lightcyan;
    transition: 0.5s;
}

.solver:after, .newBoard:after,.speedup:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid lightcyan;
    border-right: 2px solid lightcyan;
    transition: 0.5s;
}

.solver:hover:before, .newBoard:hover:before, .speedup:hover:before {
    width: 100%;
    height: 100%;
}

.solver:hover:after, .newBoard:hover:after, .speedup:hover:after {
    width: 100%;
    height: 100%;
}

.solver:hover, .newBoard:hover, .speedup:hover {
    background-color: lightcyan;
    color: black;
    box-shadow: 0 0 50px lightcyan;
    cursor: pointer;
}
